body{
    background-color: #d7ead7b5;
}
/*header  from bootstrap edited to my needs */

*{
    box-sizing: border-box;
}


/*NAVBAR*/

#mainNav .navbar-toggler{
background-color: #4fa955;
}

#mainNav .navbar-brand{
    position: relative;
    top: -10px;
    font-size: 25px;
    }
#mainNav .navbar-brand :hover{
    color:#76c180
}

.register-button{
    background-color: #c0e0c0    
}

.register-button :hover{
    background-color: rgba(0,0,0,0.1);
}

.nav-link{
    padding: 5px .5rem !important;
    background-color: #c0e0c0
}

.nav-link:hover{
    background-color: rgba(0,0,0,0.1);   
}

.navbar-dark .navbar-nav .nav-link{
    color: #097d17;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
    height: auto;
}

.menu-button{
    position: relative;
    top: -11px;
}

.text-muted1{
    color:#182d1bd4;
}

.intro-lead-inn{
    color:#182d1bd4;
    position: relative;
    top: -20px;
    font-size: 20px;
    font-style: oblique; 
}
/*-------------------------------------------------------------------------------------------------------------*/
/*prevoius and next buttons for pagination main page*/
.next{
    position: relative;
    left: 230px;
}

.previous{
    position: relative;
    right: -200px;
}

/*RECIPE DETAILS CONTAINER*/
.card-footer1{
    background-color: #e2f0e2;
}
.details-button{
    background-color: #4caf50;
    color: white;
}
.details-button:hover{
    background-color: #295d2b
        
    
}
/*---------------------------------------------------------------------------------------------------*/


header.masthead{
height: 550px;
}

header.masthead .intro-text {
    padding-top:150px; 
    position: relative;
    top: 40px;
    
}
/*RECIPE*/
.recipe-img {
    margin-top: 25px;
}

/* add recipies form css styled */
   label color
   .input-field label {
     color: #000;
   }

   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }

   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

   /* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 1px 30px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  background-color: rgba(0,0,0,0.3);
}

Extra styles for the cancel button */
 .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
} */

Float cancel and signup buttons and add an equal width */
 .cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

Add padding to container elements */


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
} */

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /*Could be more or less, depending on screen size*/
} 

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 


/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




/*LOGIN FLASH IN NAVBAR*/
.login-flash{
    padding-top: 40px;
    color: green;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (min-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
  
 
  .footer {
    padding: 5px 0px;
    text-align: center;
    background-color: #c0e0c0
}

@media screen and (min-width: 576px){
    .recipe-info{
    position: relative;
    top: -90px;
    right: -59px;
}
.recipe-img {
    position: relative;
    top: 60px;
    left: 25px;
}
}

@media screen and (min-width: 768px){
   .recipe-info{
    position: relative;
    top: 50px;
    right: 50px;
   } 
   .recipe-img {
    position: relative;
    top: 0px;
    left: 0px;
}

@media screen and (min-width: 992px){
    .recipe-info{
    position: relative;
    top: 100px;
}