{% extends 'base.html' %}
{% block content %}
<h1>All Recipie</h1>

{% for recipie in recipies %}<br>

{{ recipie.title }}<br>
<div class="row no-gutters p-1 card-body ">
            <div class="col-6 ">
<img class="img-fluid" src="/static/img/some_recipies/{{recipie.image}}" alt="{{recipie.title}}"><br>
            </div>
            
</div>
    {{ recipie.author }}<br><br>
    {{ recipie.calories }}<br><br>
    {{ recipie.ingredients }}<br><br>
    {{ recipie.instructions }}<br><br>
    {{ recipie.nutrition }}<br><br>
    {{ recipie.category }}<br><br>
    {{ recipie.serves }}<br><br>
    {{ recipie.cooking_time }}<br><br>
{% endfor %}
    

    {% endblock %}