{% extends 'base.html' %}
{% block content %}

    <section class="bg-light page-section" id="portfolio">
          <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Breakfast Recipies</h2>
          <h3 class="section-subheading text-muted">Check Our Latest Breakfast Recipies.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/poached_egg_sweet_potato.jpg')}}" alt="Teriyaki-salmon">
          </a>
          <div class="portfolio-caption">
            <h4>Breakfast</h4>
            <p class="text-muted">Poached Egg Sweet Potato</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/bang-bang-shrimo-zoodles.jpg')}}" alt="bang-bang-shrimo-zoodles">
          </a>
          <div class="portfolio-caption">
            <h4>Dinner</h4>
            <p class="text-muted">Bang Bang Shrimo Zoodles</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/chocolate_peanut_butter_peppermint_fudge.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Dessert</h4>
            <p class="text-muted">Chocolate Peanut Butter Peppermint Fudge</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/pineapple_kale_smoothie.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Drinks</h4>
            <p class="text-muted">Pineapple Kale Smoothie</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/spicy_thai_sweet_potato_soup.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Vegan</h4>
            <p class="text-muted">Spicy Thai Sweet Potato Soup</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/06-thumbnail.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Window</h4>
            <p class="text-muted">Photography</p>
          </div>
        </div>
      </div>
</section>
{% endblock %}