{% extends 'base.html' %}
{% block content %}

    <section class="bg-light page-section" id="portfolio">
          <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Dinner Recipies</h2>
          <h3 class="section-subheading text-muted">Looking For Hot Plate? Be My Guest.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/tuna_melt_zucchini_boats.jpg')}}" alt="Teriyaki-salmon">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Tuna Melt Zucchini Boats</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/bang-bang-shrimo-zoodles.jpg')}}" alt="bang-bang-shrimo-zoodles">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Bang Bang Shrimo Zoodles</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/Teriyaki-salmon.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Teriyaki Salmon</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/creamy_chicken_broccoli_soup.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Creamy Chicken Broccoli Soup</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/spicy_thai_sweet_potato_soup.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Spicy Thai Sweet Potato Soup</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/broccoli_shrimp_alfredo.jpg')}}" alt="">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Broccoli Shrimp Alfredo</p>
          </div>
        </div>
      </div>
</section>
{% endblock %}