{% extends 'base.html' %}
{% block content %}

    <h1>My Recipies</h1>

    <div class=class="row m-0 p-2 mt-3 mb-4">
    <div class="offset-2 col-8 email-form">
        <div class="row no-gutters">
            <div class="col-12">
                <p class="usr-msg">Use the Form below to send us a recipe, or enter your Email Address to View, Edit, or Delete your recipes.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <form action="{{ url_for('myrecipies') }}" class="email-form-style col-12" method="POST">

                <div class="row no-gutters">
                    <div class="offset-1 col-7 ">
                        <input id="my_email" name="my_email" type="email" class="form-control text-center" placeholder="Enter Your Email Address" required>
                    </div>

                    <div class="col-3 ml-5">
                        <button class="ml-3 btn send-btn" type="submit" name="action">Get My Recipes</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}