{% extends 'base.html' %}
{% block content %}
<article>
<div id="detail_container" class="container">
	<div class="row col-md-12 mb-5">
		<div class="card recipe-card">
			<div class="row">
				<div class="col-md-6 bg-img">
					{% if recipe.image %}
					<img src="/static/img/some_recipies/{{recipe.image}}" class="col-sm-4 col-md-8 recipe-img" />
                    {% else %}
					<img src="/static/img/some_recipies/dumbell.jpg" class="col-sm-4 col-md-8 recipe-img"/>
                    {% endif %}
                 </div>
					<div class="col-md-6 text-center recipe-info">
						<p class="card-text"><strong>Category:</strong> {{recipe.category}}</p>
						<p class="card-text"><strong>Cooking Time:</strong> {{recipe.cooking_time}} min</p>
						<p class="card-text"><strong>Serves:</strong> {{recipe.serves}}</p>
						<p class="card-text"><strong>Author:</strong> {{recipe.author}}</p>
					</div>
                    </div>
				</div>
				<div class="card-body">
					<h2 class="card-title text-center" style="text-align: center;font-weight: bold;">{{recipe.title}}
					</h2>

					<p class="card-text"><strong>Ingredients: </strong>{{recipe.ingredients}}</p>
					<p class="card-text"><strong>Instructions:</strong> {{recipe.instructions}}</p>
				</div>
				<div class="card-footer">
					<a style="cursor:pointer; float: left;padding: 5px; width: 110px; height: 36px"
						class="btn btn-success"
						onclick="window.location.href='{{ url_for( 'recipe_details' , recipe=recipe._id,action='edit'  ) }}';">Edit</a>
					<a style="cursor:pointer; float: right;padding: 5px;  width: 110px; height: 36px"
						class="btn btn-danger delete" title="delete"
						onclick="return confirm('Are you sure you want to delete this item'), window.location.href='{{ url_for( 'recipe_details' , recipe=recipe._id,action='delete'  ) }}';">Delete</a>
				</div>
			</div>
		</div>
        </article>
	</div>
	{% endblock %}