{% extends 'base.html' %}
{% block content %}

    <section class="bg-light page-section" id="portfolio">
          <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Vegan recipies</h2>
          <h3 class="section-subheading text-muted">Vegan Food Also Can Be Delicoius. Come On And Try!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/no_bake_paleo_pumpkin_chocolate_truffles.jpg')}}" alt="no_bake_paleo_pumpkin_chocolate_truffles">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">no_bake_paleo_pumpkin_chocolate_truffles</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/garlic_whole_roasted_cauliflower.jpg')}}" alt="garlic_whole_roasted_cauliflower">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">garlic_whole_roasted_cauliflower</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/broccoli_casserole.jpg')}}" alt="broccoli_casserole">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">broccoli_casserole</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/creamy_chickpea_cauliflower_curry.jpg')}}" alt="creamy_chickpea_cauliflower_curry">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">creamy_chickpea_cauliflower_curry</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/spicy_thai_sweet_potato_soup.jpg')}}" alt="spicy_thai_sweet_potato_soup">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">Spicy Thai Sweet Potato Soup</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{{ url_for('static',filename='img/some_recipies/chimichurri_grilled_cauliflower_steaks.jpg')}}" alt="chimichurri_grilled_cauliflower_steaks">
          </a>
          <div class="portfolio-caption">
            
            <p class="text-muted">chimichurri_grilled_cauliflower_steaks</p>
          </div>
        </div>
      </div>
</section>
{% endblock %}